body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    min-width: 300px;
}

#status {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

.button {
    text-align: center;
}

.textBox {
    min-width: 300px;
}